<!DOCTYPE html>
<html lang="en">
  <head>
      <title>RESTful JSON</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="RESTful JSON is a minimal and pragmatic design pattern for using links to build expressive and evolvable APIs.">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="canonical" href="http://restfuljson.org">
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="http://restfuljson.org" />
      <meta name="twitter:title" content="RESTful JSON" />
      <meta name="twitter:description" content="A minimal and pragmatic design pattern for using links to build expressive and evolvable APIs." />
  </head>
  <body class="bg-white">
      <div class="mw7-ns center pa0 pa3-m pa3-l ph5-ns">
          <div class="wrapper pa2 pt1 pa4-ns pt1-ns bt bb bw2 ba-ns bw2-ns pb3-ns">
              <header>
                  <h1 class="mb1 lh-title">RESTful JSON</h1>
                  <h2 class="mt0 mb4 normal f4 lh-solid">Because adding links in JSON should be easy</h2>
              </header>
              <section class="content">
                  {{ content }}
              </section>
              <footer>
                  <p>RESTful JSON can be found on <a href="https://github.com/smizell/restfuljson">GitHub</a>.</p>
              </footer>
          </div>
      </div>
  </body>
</html>
